.sign-out-button {
  background-color: #3D6590;
  border-radius: 10px;
  filter: drop-shadow(0 0 0.175rem #3d6590);
}

.sign-up-button {
  background-color: #3D6590;
  color: #fff;
  border-radius: 10px;
  filter: drop-shadow(0 0 0.175rem #3d6590);
}

.sign-up-button:hover {
  background-color: #3D6590;
  color: #fff;
  border-radius: 10px;
  filter: drop-shadow(0 0 0.175rem #3d6590);
  opacity: 0.6;
}

.sign-out-button:hover {
  background-color: #B3994E;
  color: #fff;
}

.pic-buttons {
  color: #3d6590;
  background-color: #fff;
  margin-right: 10px;
  border-radius: 5px;
}

.pic-buttons:hover {
  background-color: #3d6590;
  color: #fff;
}
